.table {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.table:hover {
    box-shadow: 0 8px 12px rgba(230, 138, 38, 0.9);
}

.table th,
.table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    vertical-align: top;
    padding: 5px;
}

.card {
    max-width: 100%;
    overflow-x: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(230, 138, 38, 1);
}

.button1:hover {
    box-shadow: 0 8px 12px rgba(92, 133, 251, 1);
}

.input-group:hover input[type="text"] {
    /* border-color: #93fa0c; */
    /* Warna border saat dihover */
    /* box-shadow: 0 0 5px rgba(230, 138, 38, 1); */
    /* Efek bayangan saat dihover */
}

.common-button-style {
    width: 100px;
    /* Atur lebar sesuai kebutuhan Anda */
    height: 35px;
    margin: 5px;
    /* Atur tinggi sesuai kebutuhan Anda */
    /* Gaya tambahan sesuai kebutuhan Anda */
}
